body{
    background: #FEFEFB;
    display: flex;
    padding-top: 47px;
    flex-direction: column;
    align-items: center;
    gap: 68px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.produto{
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.descricao{
  display: flex;
  padding: 0px 25px;
  flex-direction: column;
  align-items: flex-start;
 }

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.imagem{
    width: 495px;
}

ul{
  background-color: #FEFEFB;
  background-size: cover;
  list-style-type: none;
  display: flex;
  padding: 10px 3px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-family: "Montserrat Alternates";
  font-size: 20px;
   font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}

li a:hover {
  background-color: #b9b6a8;
}

li{
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
 
}

h1{
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -3.84px;
  margin: 0px;
  }

h2{
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin: 0px;
}

h3{
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.12px;
}