body{
    background: #CAD1FF;
    background: linear-gradient(90deg, rgba(202, 209, 255, 1) 50%, rgba(76, 163, 217, 1) 100%);
    display: flex;
    width: 1280px;
    height: 720px;
    padding: 277px 255px 247.92px 255px;
    justify-content: center;
    align-items: center;
}

.bloco {
  display:block;
  align-items: center;
  gap: 20px; 
  margin-bottom: 40px;
}

.titulo{
    width: 770px;
    height: 124px;
    flex-shrink: 0;
    color: #FEEAEA;
    text-align: center;
    font-family: Merriweather;
    font-size: 128px;
    font-style: italic;
    font-weight: 300;
    line-height: 160px;
    letter-spacing: 3.84px;
}
.subtitulo{
    width: 376px;
    height: 41px;
    flex-shrink: 0;
    color: #FEEAEA;
    font-family: Merriweather;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.layout{
display: flex;
width: 1280px;
height: 720px;
padding: 0px 255px;
justify-content: center;
align-items: center;
}